@charset "UTF-8";
@media screen and (min-width: 1400px) {
    body:not(.lw) .widget.text-cms {
        width: 60%;
        float: left;
    }
}

#tl_navigation .group-marketing_suite {
    background: url(../../img/backend/icons/icon_module.svg) 3px 2px no-repeat;
}

.cms_seperator {
    display: block;
    margin-left: -1px;
    width: calc(100% + 2px);
    height: 10px;
    background: #eaeaec;
    border-bottom: 1px solid #d0d0d2;
}

.tl_panel .cms_seperator {
    width: calc(100% + 12px);
    margin-bottom: -9px;
}

.widget.no-height {
    height: auto;
}

.cte_type .cms_info {
    color: #f47c00;
}

.hover-overlay {
    display: none;
}

.hover-overlay ul > li {
    display: block;
    padding: 0;
    margin-top: 2px;
}

.hover-overlay ul > li > span:not(.tree) {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.hover-overlay ul > li:not(:nth-child(1)) > span:not(.tree) {
    margin-top: 10px;
}

.hover-label {
    position: relative;
    text-decoration: underline;
    cursor: help;
}

.hover-label:hover .hover-overlay {
    display: block;
    position: absolute;
    top: 0;
    width: auto;
    margin-left: 20px;
    color: #000000;
    background: #ffffff;
    border: 1px solid #000000;
    white-space: nowrap;
    padding: 10px;
    z-index: 10;
}

@media (min-width: 767px) {
    .hover-label:hover.top_right .hover-overlay {
        top: 0;
        right: 0;
    }
}

.tree span {
    display: block;
    margin-top: 4px;
}

.tree span:nth-child(2) {
    margin-left: 14px;
}

.tree span:nth-child(3) {
    margin-left: 28px;
}

.tree span:nth-child(4) {
    margin-left: 42px;
}

.tree span:nth-child(5) {
    margin-left: 56px;
}

.tree span:nth-child(6) {
    margin-left: 70px;
}

select[readonly].tl_chosen ~ .tl_chosen,
.widget.disabled {
    background: #d0d0d2;
    opacity: 0.5;
    pointer-events: none;
}

.widget.readonly .tl_help,
.widget.disabled .tl_help,
input[readonly] ~ .tl_help {
    visibility: hidden;
}

select[readonly] ~ .tl_help {
    visibility: hidden;
}

input[type="radio"][readonly],
input[type="radio"][readonly] + label {
    opacity: 0.5;
    pointer-events: none;
}

.widget.readonly {
    cursor: not-allowed;
}

.content #tl_buttons + #tl_buttons {
    display: none;
}

.main_headline.conversion_item, #main_headline.conversion_item {
    color: transparent;
}

.main_headline.conversion_item:not(.edit) > *:nth-child(1), #main_headline.conversion_item:not(.edit) > *:nth-child(1) {
    color: #0F1C26;
}

.main_headline.conversion_item:not(.edit) > *:nth-child(n+2), #main_headline.conversion_item:not(.edit) > *:nth-child(n+2) {
    display: none;
}

.main_headline.conversion_item.edit > *:nth-child(1), .main_headline.conversion_item.edit > *:nth-child(4), #main_headline.conversion_item.edit > *:nth-child(1), #main_headline.conversion_item.edit > *:nth-child(4) {
    color: #0F1C26;
}

.main_headline.conversion_item.edit > *:nth-child(4), #main_headline.conversion_item.edit > *:nth-child(4) {
    margin-left: -28px;
    font-weight: 700;
}

.main_headline.conversion_item.edit > *:nth-child(4):before, #main_headline.conversion_item.edit > *:nth-child(4):before {
    content: " › ";
    margin: 0 5px;
}

.main_headline.conversion_item.edit > *:nth-child(2), .main_headline.conversion_item.edit > *:nth-child(3), #main_headline.conversion_item.edit > *:nth-child(2), #main_headline.conversion_item.edit > *:nth-child(3) {
    display: none;
}

.tl_formbody_edit fieldset a.button {
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    background: #f3f3f5;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 7px 12px;
    border: 1px solid #aaa;
    border-radius: 2px;
}

.tl_formbody_edit fieldset a.button.disabled {
    pointer-events: none;
}

.moor-box {
    z-index: 100;
}

#tl_messages .tl_error a, #tl_messages .tl_confirm a, #tl_messages .tl_info a, #tl_messages .tl_new a {
    text-decoration: underline;
}

#picker-menu a.cmsLinkShortenerPicker {
    background-image: url(../../img/backend/icons/icon_picker_link_shortener.svg);
    background-size: 16px;
}

.page_a .selector_container .tl_submit + .tl_submit, .page_b .selector_container .tl_submit + .tl_submit {
    margin-left: 15px;
}

.page_a .selector_container .tl_submit + .tl_submit img, .page_b .selector_container .tl_submit + .tl_submit img {
    width: 13px;
    height: 13px;
    margin-right: 8px;
}

.cms_flex {
    display: flex;
    align-items: center;
}

.cms_flex .cms_right {
    margin-left: auto;
}

#pal_cms_helper_top_legend, #pal_cms_helper_bottom_legend {
    background: #f6e58d;
    border: none;
    padding: 8px 16px;
}

#pal_cms_helper_top_legend legend, #pal_cms_helper_bottom_legend legend {
    display: none;
}

#pal_cms_helper_top_legend p, #pal_cms_helper_bottom_legend p {
    margin: 0;
    margin-top: 0.3rem;
}

#pal_cms_helper_top_legend a, #pal_cms_helper_bottom_legend a {
    color: #006494;
}

.cms_helper_top_legend {
    padding: 0;
    background: #f6e58d;
    border: none;
    padding: 16px 6px 1px;
    margin-bottom: 6px;
}

.cms_helper_top_legend h2 + p {
    margin-top: 5px;
}

#pal_cms_helper_bottom_legend, .cms_helper_bottom_legend {
    background: #f6e58d;
    padding: 16px;
}

#pal_cms_helper_bottom_legend h2, #pal_cms_helper_bottom_legend h3, .cms_helper_bottom_legend h2, .cms_helper_bottom_legend h3 {
    font-size: 14px;
    font-weight: 500;
}

#pal_cms_helper_bottom_legend .tl_panel, .cms_helper_bottom_legend .tl_panel {
    background: none;
    border: none;
}

.cms_helper_bottom_legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cms_helper_bottom_legend .tl_panel {
    padding-left: 10px;
}

.cms_helper_bottom_legend .tl_panel a {
    white-space: nowrap;
}

.cms_be_help {
    border-bottom: 1px solid #d0d0d2;
    position: relative;
    background: #ffffff;
    text-align: left;
}

.cms_be_help fieldset {
    padding-bottom: 0;
}

.cms_be_help fieldset legend {
    position: relative;
}

.cms_be_help fieldset legend:after {
    content: "";
    display: block;
    top: 13px;
    right: 15px;
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../../../../system/themes/flexible/icons/help.svg) no-repeat scroll 50% 50%;
}

.cms_be_help .description {
    padding: 15px;
    padding-bottom: 0;
}

.cms_be_help a {
    color: #006494;
}

.tl_panel .cms_be_help {
    margin-top: -8px;
    margin-right: -10px;
}

.license_message_wrapper > .cms_be_license_message {
    margin: 0 !important;
}

#main .cms_be_license_message {
    margin-top: -8px;
    margin-right: -10px;
    margin-bottom: -8px;
}

#main .cms_be_license_message .content {
    text-align: left;
    border: none !important;
    margin: 0;
}

#main .cms_be_license_message .content .header {
    background-color: #f47c00;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#main .cms_be_license_message .content .header h2 {
    display: block;
    line-height: 35px;
    padding-left: 10px;
    color: #ffffff;
}

#main .cms_be_license_message .content .inside {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

#main .cms_be_license_message .content .inside > * {
    margin: 15px;
}

#main .cms_be_license_message .content .inside .text p:last-child {
    margin-bottom: 0;
}

#main .cms_be_license_message .content .inside > a {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    background: #74b739;
    color: #ffffff;
    padding: 1em 2em;
}

#main .cms_be_license_message .content .inside > a:hover {
    background: #5b902d;
}

.tl_dashboard fieldset > div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 15px;
    padding-top: 0;
}

.tl_dashboard fieldset > div > .item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: calc(50% - 7.5px);
    background: #f6f6f6;
    margin-top: 15px;
}

.tl_dashboard fieldset > div > .item .name {
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.tl_dashboard fieldset > div > .item .name span {
    margin-right: auto;
}

.tl_dashboard fieldset > div > .item .name a {
    padding: 0 4px;
}

.tl_dashboard fieldset > div > .item .inner {
    height: 100%;
    background: #ffffff;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tl_dashboard fieldset > div > .item .inner .chart {
    margin-bottom: auto;
    padding-bottom: 15px;
}

.tl_dashboard fieldset > div > .item .inner .reset {
    font-size: 0.8572em;
    text-align: right;
    color: #b6b6b9;
}

.tl_dashboard fieldset > div > .item .inner .reset p {
    margin-bottom: 0.5em;
}

.tl_dashboard fieldset > div > .item .inner table {
    width: 100%;
    table-layout: fixed;
}

.tl_dashboard fieldset > div > .item .inner table th, .tl_dashboard fieldset > div > .item .inner table td {
    padding: 2px 4px;
    border: 1px solid #e9e9e9;
    text-align: center;
}

.tl_dashboard fieldset > div > .item .inner table tr th {
    background: #e9e9e9;
    border-bottom: 1px solid #ffffff;
}

@media screen and (max-width: 600px) {
    .tl_dashboard fieldset > div > .item {
        width: 100%;
    }
}

.tl_dashboard .no-data {
    margin: auto;
}

.tl_dashboard .no-data p {
    display: block;
    text-align: center;
    margin: auto;
    padding: 15px;
    opacity: 0.3;
}

.tl_dashboard .no-data p:before {
    content: "\2639";
    display: block;
    margin: 15px auto;
    font-size: 3em;
}

.tl_health_check > fieldset > div {
    padding: 0 15px;
}

.tl_health_check > fieldset > div > .tl_listing_container {
    margin: 0;
    margin-top: 15px;
}

.tl_health_check > fieldset#pal_missing_h1_legend tr[data-url] td:nth-child(1) {
    color: #d0d0d2;
}

.tl_health_check > fieldset#pal_missing_h1_legend tr[data-url] td:nth-child(1) .icon {
    position: relative;
    display: inline-block;
}

.tl_health_check > fieldset#pal_missing_h1_legend tr[data-url] td:nth-child(1) .icon img {
    opacity: 0.55;
}

.tl_health_check > fieldset#pal_missing_h1_legend tr[data-url] td:nth-child(1) .icon:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url(../../../../system/themes/flexible/icons/loading.svg) 0 0 no-repeat;
    background-size: contain;
    position: absolute;
}

.tl_health_check > .nothing {
    background: url(../../img/backend/icons/icon_ok.svg) no-repeat scroll 10px 22px;
    background-size: 40px auto;
    padding: 25px;
    padding-left: 65px;
}

.tl_health_check > .nothing p {
    margin-bottom: 0;
    margin-top: 5px;
}

.tl_health_check fieldset > legend {
    position: relative;
}

.tl_health_check fieldset > legend > .count {
    display: inline-block;
    background: #f47c00;
    color: #ffffff;
    font-size: 0.75rem;
    position: absolute;
    right: 15px;
    padding: 0px 4.5px;
    border-radius: 8px;
    height: 16px;
    line-height: 16px;
}

.cms_modules {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 15px;
}

.cms_modules .text {
    width: 100%;
}

.cms_modules .module {
    width: calc(50% - 30px);
    padding: 15px;
    overflow: hidden;
}

.cms_modules .module a {
    display: flex;
    height: calc(100% - 30px);
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    background: #ecf0f1;
    position: relative;
}

.cms_modules .module a:hover {
    background: #f47c00;
    color: #ffffff;
}

.cms_modules .module a:hover img {
    opacity: 1;
    filter: invert(100%);
}

.cms_modules .module img {
    display: block;
    opacity: 0.5;
    margin-right: 15px;
}

.cms_modules .module span.label {
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.cms_modules .module span.desc {
    opacity: 0.75;
    line-height: 1.4;
}

@media screen and (max-width: 650px) {
    .cms_modules .module {
        width: 100%;
    }
}

.tl_cms_filter {
    display: flex;
    position: relative;
}

.tl_cms_filter .filter {
    display: flex;
    align-items: center;
}

.tl_cms_filter .filter strong {
    margin-right: 5px;
}

.tl_cms_filter .filter input[type="text"] {
    width: 130px;
}

.tl_cms_filter .filter input.error {
    background: #e74c3c;
    color: #ffffff;
}

.tl_cms_filter .filter + .filter {
    margin-left: 15px;
}

.tl_cms_filter .filter.period {
    background: #f3f3f5;
    position: absolute;
    top: calc(100% + 63px);
    right: -30px;
    z-index: 10;
    padding: 5px;
}

@media screen and (max-width: 500px) {
    .tl_cms_filter {
        flex-direction: column;
        width: 100%;
        z-index: 0;
    }
    .tl_cms_filter .filter {
        margin-top: 10px;
    }
    .tl_cms_filter .filter strong {
        width: 10%;
    }
    .tl_cms_filter .filter input[type="text"] {
        width: 80%;
    }
    .tl_cms_filter .filter.period {
        flex-direction: column;
        right: 10px;
    }
    .tl_cms_filter .filter.period > * {
        width: 100%;
    }
}

.tl_cms_link_shortener_statistics {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    background: #f3f3f5;
}

.tl_cms_link_shortener_statistics .no-data {
    margin: auto;
}

.tl_cms_link_shortener_statistics .no-data p {
    display: block;
    text-align: center;
    margin: auto;
    padding: 15px;
    opacity: 0.3;
}

.tl_cms_link_shortener_statistics .no-data p:before {
    content: "\2639";
    display: block;
    margin: 15px auto;
    font-size: 3em;
}

.tl_cms_link_shortener_statistics .cms_overview {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 250px;
    background: #ffffff;
    padding-top: 30px;
}

.tl_cms_link_shortener_statistics .cms_overview .numbers {
    width: 140px;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 24px;
    padding: 10px;
    margin-top: -20px;
}

.tl_cms_link_shortener_statistics .cms_overview .numbers strong {
    padding-top: 10px;
    padding-bottom: 5px;
    display: block;
    font-size: 14px;
}

.tl_cms_link_shortener_statistics .cms_overview .graph_wrapper {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
}

.tl_cms_link_shortener_statistics .cms_overview .graph_wrapper canvas {
    width: 100% !important;
    height: 100% !important;
}

@media screen and (max-width: 800px) {
    .tl_cms_link_shortener_statistics .cms_overview {
        flex-wrap: wrap;
        height: auto;
    }
    .tl_cms_link_shortener_statistics .cms_overview .numbers,
    .tl_cms_link_shortener_statistics .cms_overview .graph_wrapper {
        width: 100%;
    }
}

.tl_cms_link_shortener_statistics .cms_details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #f3f3f5;
    margin-top: 15px;
}

.tl_cms_link_shortener_statistics .cms_details .tabs {
    width: 100%;
    margin-top: 15px;
}

.tl_cms_link_shortener_statistics .cms_details .tabs .tab-header {
    display: flex;
}

@media screen and (max-width: 800px) {
    .tl_cms_link_shortener_statistics .cms_details .tabs .tab-header {
        flex-wrap: wrap;
    }
}

.tl_cms_link_shortener_statistics .cms_details .tabs .tab-header label {
    cursor: pointer;
    background: #e9e9e9;
    color: #d0d0d2;
    padding: 10px;
    border: 1px solid #e9e9e9;
}

.tl_cms_link_shortener_statistics .cms_details .tabs .tab-header label:hover {
    opacity: 0.8;
}

.tl_cms_link_shortener_statistics .cms_details .tabs .inner {
    display: none;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"] {
    display: none;
    appearance: none;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(1) ~ .tab-header > label:nth-of-type(1) {
    position: relative;
    background: #ffffff;
    color: #000000;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(1) ~ .tab-header > label:nth-of-type(1):before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -1px;
    right: -1px;
    height: 3px;
    background: #f47c00;
    z-index: 1;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(1) ~ .tab-header > label:nth-of-type(1):after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0px;
    right: 0px;
    height: 1px;
    border-top: 3px solid #ffffff;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(1) ~ .tab-content > div:nth-of-type(1) {
    display: flex;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(2) ~ .tab-header > label:nth-of-type(2) {
    position: relative;
    background: #ffffff;
    color: #000000;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(2) ~ .tab-header > label:nth-of-type(2):before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -1px;
    right: -1px;
    height: 3px;
    background: #f47c00;
    z-index: 1;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(2) ~ .tab-header > label:nth-of-type(2):after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0px;
    right: 0px;
    height: 1px;
    border-top: 3px solid #ffffff;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(2) ~ .tab-content > div:nth-of-type(2) {
    display: flex;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(3) ~ .tab-header > label:nth-of-type(3) {
    position: relative;
    background: #ffffff;
    color: #000000;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(3) ~ .tab-header > label:nth-of-type(3):before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -1px;
    right: -1px;
    height: 3px;
    background: #f47c00;
    z-index: 1;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(3) ~ .tab-header > label:nth-of-type(3):after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0px;
    right: 0px;
    height: 1px;
    border-top: 3px solid #ffffff;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(3) ~ .tab-content > div:nth-of-type(3) {
    display: flex;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(4) ~ .tab-header > label:nth-of-type(4) {
    position: relative;
    background: #ffffff;
    color: #000000;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(4) ~ .tab-header > label:nth-of-type(4):before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -1px;
    right: -1px;
    height: 3px;
    background: #f47c00;
    z-index: 1;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(4) ~ .tab-header > label:nth-of-type(4):after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0px;
    right: 0px;
    height: 1px;
    border-top: 3px solid #ffffff;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(4) ~ .tab-content > div:nth-of-type(4) {
    display: flex;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(5) ~ .tab-header > label:nth-of-type(5) {
    position: relative;
    background: #ffffff;
    color: #000000;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(5) ~ .tab-header > label:nth-of-type(5):before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -1px;
    right: -1px;
    height: 3px;
    background: #f47c00;
    z-index: 1;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(5) ~ .tab-header > label:nth-of-type(5):after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0px;
    right: 0px;
    height: 1px;
    border-top: 3px solid #ffffff;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(5) ~ .tab-content > div:nth-of-type(5) {
    display: flex;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(6) ~ .tab-header > label:nth-of-type(6) {
    position: relative;
    background: #ffffff;
    color: #000000;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(6) ~ .tab-header > label:nth-of-type(6):before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -1px;
    right: -1px;
    height: 3px;
    background: #f47c00;
    z-index: 1;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(6) ~ .tab-header > label:nth-of-type(6):after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0px;
    right: 0px;
    height: 1px;
    border-top: 3px solid #ffffff;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(6) ~ .tab-content > div:nth-of-type(6) {
    display: flex;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(7) ~ .tab-header > label:nth-of-type(7) {
    position: relative;
    background: #ffffff;
    color: #000000;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(7) ~ .tab-header > label:nth-of-type(7):before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -1px;
    right: -1px;
    height: 3px;
    background: #f47c00;
    z-index: 1;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(7) ~ .tab-header > label:nth-of-type(7):after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0px;
    right: 0px;
    height: 1px;
    border-top: 3px solid #ffffff;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(7) ~ .tab-content > div:nth-of-type(7) {
    display: flex;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(8) ~ .tab-header > label:nth-of-type(8) {
    position: relative;
    background: #ffffff;
    color: #000000;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(8) ~ .tab-header > label:nth-of-type(8):before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -1px;
    right: -1px;
    height: 3px;
    background: #f47c00;
    z-index: 1;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(8) ~ .tab-header > label:nth-of-type(8):after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0px;
    right: 0px;
    height: 1px;
    border-top: 3px solid #ffffff;
}

.tl_cms_link_shortener_statistics .cms_details .tabs input[type="radio"]:checked:nth-of-type(8) ~ .tab-content > div:nth-of-type(8) {
    display: flex;
}

.tl_cms_link_shortener_statistics .cms_details .inner {
    border: 1px solid #e9e9e9;
    background: #ffffff;
}

.tl_cms_link_shortener_statistics .cms_details .inner .pie-chart {
    padding: 15px 0;
    position: relative;
    flex-grow: 0;
    width: 350px;
}

.tl_cms_link_shortener_statistics .cms_details .inner .data {
    flex-grow: 1;
    padding: 15px;
}

.tl_cms_link_shortener_statistics .cms_details .inner .data table {
    width: 100%;
}

.tl_cms_link_shortener_statistics .cms_details .inner .data table th, .tl_cms_link_shortener_statistics .cms_details .inner .data table td {
    padding: 3px;
}

.tl_cms_link_shortener_statistics .cms_details .inner .data table th:nth-child(n+2), .tl_cms_link_shortener_statistics .cms_details .inner .data table td:nth-child(n+2) {
    width: 20%;
    text-align: right;
}

.tl_cms_link_shortener_statistics .cms_details .inner .data table tr:nth-child(2n) {
    background: #e9e9e9;
}

.tl_cms_link_shortener_statistics .cms_details .inner .data table tr.subitems {
    opacity: 0.5;
    font-size: 0.8rem;
}

.tl_cms_link_shortener_statistics .cms_details .inner .data table tr.subitems td:nth-child(1) {
    padding-left: 15px;
}

@media screen and (max-width: 800px) {
    .tl_cms_link_shortener_statistics .cms_details .inner {
        flex-direction: column;
    }
    .tl_cms_link_shortener_statistics .cms_details .inner .pie-chart {
        width: 100%;
        max-height: 60vh;
        min-height: 175px;
    }
    .tl_cms_link_shortener_statistics .cms_details .inner .data {
        width: calc(100% - 30px);
    }
    .tl_cms_link_shortener_statistics .cms_details .inner .data table tr th:nth-child(1),
    .tl_cms_link_shortener_statistics .cms_details .inner .data table tr td:nth-child(1) {
        word-wrap: break-word;
        word-break: break-all;
    }
    .tl_cms_link_shortener_statistics .cms_details .inner .data table tr th:nth-child(n+2),
    .tl_cms_link_shortener_statistics .cms_details .inner .data table tr td:nth-child(n+2) {
        width: 75px;
    }
}

.cms_schedule {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cms_schedule .header, .cms_schedule .body {
    flex-basis: 100%;
    flex-shrink: 0;
}

.cms_schedule .legend {
    padding: 12px 15px;
    padding-left: 0;
}

.cms_schedule .legend ul li {
    display: inline-block;
    position: relative;
    padding-left: 15px;
}

.cms_schedule .legend ul li + li {
    margin-left: 15px;
}

.cms_schedule .legend ul li:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.cms_schedule .legend ul li.unpublished:before {
    background-color: #e9e9e9;
}

.cms_schedule .legend ul li.published:before {
    background-color: #74b739;
}

.cms_schedule .legend ul li.pending:before {
    background-color: rgba(0, 100, 148, 0.5);
}

@media screen and (max-width: 450px) {
    .cms_schedule .legend ul li {
        display: block;
    }
    .cms_schedule .legend ul li + li {
        margin-left: 0;
        margin-top: 10px;
    }
}

.cms_schedule #tl_buttons {
    padding-left: 0;
}

.cms_schedule .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background: #d0d0d2;
}

.cms_schedule .header a {
    display: block;
    font-size: 20px;
    padding: 15px 21px;
}

.cms_schedule .header a:hover {
    background: #f47c00;
    color: #ffffff;
}

.cms_schedule .header .title {
    width: 100%;
    text-align: center;
    position: relative;
}

.cms_schedule .header .title #toggleQuickNav,
.cms_schedule .header .title #toggleQuickNavYear {
    display: none;
}

.cms_schedule .header .title label {
    width: 100%;
    display: block;
}

.cms_schedule .header .title label:hover {
    cursor: pointer;
}

.cms_schedule .header .title label[for="toggleQuickNavYear"] {
    background: #eaeaec;
    border: 1px solid #d0d0d2;
    padding: 7px 12px;
    margin: 10px;
    display: inline-block;
    width: auto;
}

.cms_schedule .header .title label.current {
    height: 100%;
    padding: 17px 0;
}

.cms_schedule .header .title #toggleQuickNav ~ .toggleQuickNav {
    display: none;
}

.cms_schedule .header .title #toggleQuickNav:checked ~ .toggleQuickNav {
    display: block;
}

.cms_schedule .header .title #toggleQuickNavYear ~ form .toggleQuickNavYear {
    display: none;
}

.cms_schedule .header .title #toggleQuickNavYear:checked ~ form .toggleQuickNavYear {
    display: flex;
}

.cms_schedule .header .title #toggleQuickNavYear:checked ~ form label[for="toggleQuickNavYear"] {
    display: none;
}

.cms_schedule .header .title .heading {
    background: #d0d0d2;
    padding: 4px;
    text-align: center;
}

.cms_schedule .header .title .toggleQuickNav {
    position: absolute;
    background: #ffffff;
    border: 1px solid #d0d0d2;
    text-align: left;
    z-index: 10;
    width: 100%;
    margin-left: -1px;
    margin-right: -1px;
}

.cms_schedule .header .title .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 10px);
    margin: 5px;
}

.cms_schedule .header .title .grid .box {
    width: calc(25% - 10px);
    text-align: center;
}

.cms_schedule .header .title .grid .box input[type="radio"] {
    display: none;
}

.cms_schedule .header .title .grid .box input[type="radio"]:checked + label {
    border: 2px solid #e9e9e9;
}

.cms_schedule .header .title .grid .box label {
    padding: 15px 5px;
    box-sizing: border-box;
}

.cms_schedule .header .title .grid .box label:hover {
    background: #f47c00;
    color: #ffffff;
}

.cms_schedule .header .previous a {
    border-right: 1px solid #c3c3c6;
}

.cms_schedule .header .next a {
    border-left: 1px solid #c3c3c6;
}

.cms_schedule .body table {
    width: 100%;
    table-layout: fixed;
}

.cms_schedule .body table thead th {
    text-transform: uppercase;
    background: #e9e9e9;
    border: 2px solid #e9e9e9;
    padding: 10px 5px;
    border-right-color: #d0d0d2;
    border-bottom-color: #d0d0d2;
}

.cms_schedule .body table tbody td {
    position: relative;
    border: 2px solid #e9e9e9;
    padding-bottom: calc(14.28571% - 10px);
}

.cms_schedule .body table tbody td .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    overflow-y: auto;
}

.cms_schedule .body table tbody td .inner span {
    display: block;
}

.cms_schedule .body table tbody td .inner::-webkit-scrollbar {
    width: 5px;
    background: rgba(233, 233, 233, 0.6);
}

.cms_schedule .body table tbody td .inner::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.2);
}

.cms_schedule .body table tbody td .day {
    font-size: 1em;
    margin-bottom: 10px;
}

.cms_schedule .body table tbody td .day span {
    display: none;
}

.cms_schedule .body table tbody td .element {
    margin-top: 5px;
    padding: 2px 4px;
    border-radius: 2px;
    background: #e9e9e9;
    font-size: 0.85em;
    text-overflow: ellipsis;
    line-height: 1.2;
}

.cms_schedule .body table tbody td .element.published {
    background-color: #74b739;
    color: #ffffff;
}

.cms_schedule .body table tbody td .element.pending {
    background-color: rgba(0, 100, 148, 0.5);
    color: #ffffff;
}

.cms_schedule .body table tbody td .element a {
    color: inherit;
}

.cms_schedule .body table tbody td .element a:hover {
    text-decoration: underline;
}

.cms_schedule .body table tbody td .element .facebook-publish {
    display: inline-block;
    margin-left: 2px;
    cursor: help;
}

.cms_schedule .body table tbody td .week {
    font-size: 0.75em;
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #d0d0d2;
}

.cms_schedule .body table tbody td.otherMonth {
    color: #d0d0d2 !important;
}

.cms_schedule .body table tbody td.today {
    border-bottom-color: #f47c00;
}

.cms_schedule .body table tbody td.today .day {
    color: #f47c00;
    font-weight: 700;
}

@media screen and (min-width: 800px) {
    .cms_schedule #tl_buttons {
        padding-right: 0;
    }
}

@media screen and (max-width: 800px) {
    .cms_schedule .legend, .cms_schedule #tl_buttons {
        flex-basis: 100%;
        flex-shrink: 0;
    }
    .cms_schedule #tl_buttons {
        order: -1;
    }
}

@media screen and (max-width: 600px) {
    .cms_schedule .body table {
        table-layout: auto;
    }
    .cms_schedule .body table thead {
        display: none;
    }
    .cms_schedule .body table tbody td {
        display: block;
        border: 0;
        padding-bottom: 0;
        border-top: 1px solid #e9e9e9;
    }
    .cms_schedule .body table tbody td .inner {
        position: relative;
        display: flex !important;
        justify-content: space-between;
    }
    .cms_schedule .body table tbody td .element {
        display: flex !important;
        justify-content: space-between;
    }
    .cms_schedule .body table tbody td .element:nth-child(1) {
        margin-top: 0;
    }
    .cms_schedule .body table tbody td .day {
        display: block;
        width: 30px;
    }
    .cms_schedule .body table tbody td .day span {
        display: block;
        font-size: 0.8em;
    }
    .cms_schedule .body table tbody td .week {
        font-size: 0.65em;
    }
    .cms_schedule .body table tbody td .elements {
        width: 100%;
        margin-left: 10px;
    }
    .cms_schedule .body table tbody tr:nth-child(1) > td:nth-child(1) {
        border-top: 0;
    }
}

.widget.facebook-authorization {
    margin-top: 15px;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    color: #006494;
    background: #e9f0f7;
}

.widget.facebook-authorization p {
    margin: 0;
    margin-right: 1em;
}

@media screen and (max-width: 450px) {
    .widget.facebook-authorization {
        flex-wrap: wrap;
    }
    .widget.facebook-authorization p {
        margin: 0;
        margin-bottom: 1em;
    }
}

.widget #ctrl_cms_fb_pages_available legend {
    display: none;
}

.widget #ctrl_cms_fb_pages_available,
.widget #ctrl_cms_facebook_pages {
    height: auto;
}

.widget #ctrl_cms_fb_pages_available > div.sortable,
.widget #ctrl_cms_facebook_pages > div.sortable {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.widget #ctrl_cms_fb_pages_available > div.sortable > span,
.widget #ctrl_cms_facebook_pages > div.sortable > span {
    flex-basis: 33%;
    margin-top: 1em;
}

@media screen and (max-width: 1100px) {
    .widget #ctrl_cms_fb_pages_available > div.sortable > span,
    .widget #ctrl_cms_facebook_pages > div.sortable > span {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 600px) {
    .widget #ctrl_cms_fb_pages_available > div.sortable > span,
    .widget #ctrl_cms_facebook_pages > div.sortable > span {
        flex-basis: 100%;
    }
}

.widget #ctrl_cms_fb_pages_available > div.sortable > span, .widget #ctrl_cms_fb_pages_available > div.sortable > span label,
.widget #ctrl_cms_facebook_pages > div.sortable > span,
.widget #ctrl_cms_facebook_pages > div.sortable > span label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.widget #ctrl_cms_fb_pages_available > div.sortable > span label,
.widget #ctrl_cms_facebook_pages > div.sortable > span label {
    cursor: pointer;
}

.widget #ctrl_cms_fb_pages_available > div.sortable > span label, .widget #ctrl_cms_fb_pages_available > div.sortable > span label .name,
.widget #ctrl_cms_facebook_pages > div.sortable > span label,
.widget #ctrl_cms_facebook_pages > div.sortable > span label .name {
    margin-left: 1em;
}

.widget #ctrl_cms_fb_pages_available > div.sortable > span button.drag-handle,
.widget #ctrl_cms_facebook_pages > div.sortable > span button.drag-handle {
    display: none;
}

.widget #ctrl_cms_fb_pages_available ~ .tl_help,
.widget #ctrl_cms_facebook_pages ~ .tl_help {
    margin-top: 1em;
}

.widget #ctrl_cms_fb_pages_available#ctrl_cms_facebook_pages > div.sortable > span,
.widget #ctrl_cms_facebook_pages#ctrl_cms_facebook_pages > div.sortable > span {
    flex-basis: 100%;
}

.tl_avalex .header {
    position: relative;
    text-align: center;
    background: url(../../img/backend/avalex/background.jpg) no-repeat scroll 50% 50%;
    background-size: cover;
    padding: 100px 40px;
}

.tl_avalex .header a.logo {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    background: url(../../img/backend/avalex/logo.svg) no-repeat scroll 50% 50%;
    background-size: contain;
    width: 100px;
    height: 40px;
    margin-bottom: 40px;
}

.tl_avalex .header h1 {
    font-weight: 600;
    color: #ffffff;
    line-height: 1.4;
    font-size: 40px;
    margin-bottom: 20px;
}

.tl_avalex .header h2 {
    font-weight: 600;
    color: #efb225;
    line-height: 1.4;
    font-size: 30px;
}

@media screen and (max-width: 600px) {
    .tl_avalex .header {
        padding: 80px 20px;
    }
    .tl_avalex .header h1 {
        font-size: 26px;
    }
    .tl_avalex .header h2 {
        font-size: 22px;
    }
}

.tl_avalex .description {
    padding: 15px;
    max-width: 650px;
    line-height: 1.4;
}

.tl_avalex .description a.button {
    display: inline-block;
    background: #efb225;
    color: #052c52;
    font-weight: 600;
    font-size: 24px;
    padding: 15px 30px;
    line-height: 1;
    text-align: center;
}

.tl_avalex .description p:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .tl_avalex .description a.button {
        display: block;
        margin: 0 auto;
        max-width: 200px;
    }
}

.widget.text-analysis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f6f6f8;
    border: 1px solid #c5c5c6;
    border-radius: 1px;
    margin-top: 33px;
}

.widget.text-analysis > h3 {
    display: block;
    width: calc(100% - 30px);
    flex-shrink: 0;
    border-bottom: 1px solid #e7e7e8;
    padding: 12px;
    padding-left: 15px;
    padding-bottom: 7px;
    margin: 0;
    font-weight: 400;
}

.widget.text-analysis > .group {
    flex-grow: 1;
    flex-basis: 0;
    padding: 15px;
    max-width: 250px;
}

.widget.text-analysis > .group ul {
    margin-top: 10px;
}

.widget.text-analysis > .group ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: 0px;
    padding: 4px 0;
}

.widget.text-analysis > .group ul li mark {
    display: none !important;
    position: absolute;
    left: 0;
    top: 4px;
    height: calc(100% - 8px);
    z-index: 1;
    background: rgba(186, 220, 88, 0.6);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #badc58 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #badc58 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #badc58 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#badc58',GradientType=1 );
}

.widget.text-analysis > .group ul li span {
    display: block;
    z-index: 2;
}

.widget.text-analysis > .group ul li span:nth-child(1) {
    width: 160px;
    white-space: nowrap;
    margin-right: auto;
}

.widget.text-analysis > .group ul li span:nth-child(2) {
    text-align: right;
    width: 50px;
    flex-shrink: 0;
}

.widget.text-analysis > .group ul li span em {
    display: block;
    opacity: 0.5;
}

.widget.text-analysis > .group ul li a {
    display: block;
    flex-shrink: 0;
    background: url(../../../../system/themes/flexible/icons/visible.svg) no-repeat scroll 50% 50%;
    width: 16px;
    height: 15px;
    margin-left: 10px;
    filter: grayscale(100%);
}

.widget.text-analysis > .group ul li a:hover, .widget.text-analysis > .group ul li a.active {
    filter: grayscale(0%);
}

.widget.text-analysis > .group ul li + li {
    border-top: 1px dotted #e7e7e8;
}

.widget.snippet-preview > div {
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 20px;
    padding: 15px;
    border: 1px solid #e9e9e9;
}

.widget.snippet-preview > div > div {
    width: calc(100% - 15px);
    max-width: 600px;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .widget.snippet-preview > div > .title {
        white-space: normal;
    }
}

@media screen and (max-width: 566px) {
    .widget.snippet-preview > div {
        font-size: 16px;
    }
}

.widget.snippet-preview .title {
    font-size: 1em;
    line-height: 1.3em;
    font-weight: 400;
    color: #1a0dab;
    white-space: nowrap;
}

.widget.snippet-preview .title span {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: #f47c00;
}

.widget.snippet-preview .url {
    font-size: 0.8em;
    line-height: 1.2em;
    font-weight: 400;
    color: #006621;
    word-break: break-all;
}

.widget.snippet-preview .description {
    font-size: 0.7em;
    line-height: 1.1em;
    font-weight: 400;
    color: #545454;
}

.widget.snippet-preview p.explanation {
    margin-top: 1em;
    margin-bottom: 0;
    padding: 15px;
    background: #f6e58d;
    line-height: 1.4;
    color: #aa900d;
}

.widget.snippet-preview p.explanation a {
    color: inherit;
    text-decoration: underline;
}

.widget.snippet-preview p.explanation em {
    font-style: normal;
    font-family: "Courier New", Courier, "Lucida Console", Monaco, monospace;
}

.widget.snippet > input, .widget.snippet > textarea {
    display: none;
}

.widget.snippet > div[contenteditable] {
    width: 100%;
    line-height: normal;
    font-size: .875rem;
    min-height: 30px;
}

.widget.snippet > div[contenteditable] mark {
    background: #e74c3c;
    color: #ffffff;
}

.widget.snippet > div[contenteditable][class*="length_"] {
    outline: none;
}

.widget.snippet > div[contenteditable][class*="length_"].length_short {
    box-shadow: 0px 3px 0px 0px #f6e58d;
}

.widget.snippet > div[contenteditable][class*="length_"].length_long {
    box-shadow: 0px 3px 0px 0px #e74c3c;
}

.widget.snippet > div[contenteditable][class*="length_"].length_optimal {
    box-shadow: 0px 3px 0px 0px #74b739;
}

.widget.snippet > input + div[contenteditable] {
    white-space: nowrap;
    overflow: hidden;
}

.widget.snippet > textarea + div[contenteditable] {
    height: auto !important;
    min-height: 30px;
}

.widget.snippet h3 label {
    display: flex;
    justify-content: space-between;
}

.widget.snippet h3 label .snippet-count {
    font-weight: 400;
    font-size: 0.8em;
}

.widget.snippet h3 label + img {
    display: none;
}

.link-preview .preview {
    margin: 0;
    box-sizing: border-box;
    border-radius: 2px;
}

.link-preview a {
    max-width: 100%;
    display: inline-block;
    padding: 2px;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    background: #eaeaec;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: background .2s ease;
}

.link-preview a:hover {
    background: #d0d0d2;
}

.widget.link-preview .preview {
    margin: 2px 0;
}

.widget.link-preview a {
    padding: 8px 6px;
}

fieldset .suggest.wizard input:focus ~ .suggest_wizard,
fieldset .suggest.wizard .suggest_wizard:hover {
    display: block;
}

fieldset > div > .suggest_wizard {
    position: absolute;
    display: none;
    width: calc(90% - 2px);
    background: #ffffff;
}

fieldset > div > .suggest_wizard ul {
    border: 1px solid #e9e9e9;
}

fieldset > div > .suggest_wizard ul li {
    padding: 6px 5px;
    cursor: pointer;
}

fieldset > div > .suggest_wizard ul li + li {
    border-top: 2px solid #e9e9e9;
}

fieldset > div > .suggest_wizard ul li:hover {
    background: #e9e9e9;
}

.widget.element-preview iframe {
    display: block;
    width: calc(100% - 15px);
    min-width: 250px;
    overflow: hidden;
    border: 2px solid #e9e9e9;
    padding: 8px;
}

.widget.element-preview .tl_help {
    margin-top: 4px;
}

.widget.styling-categories {
    font-size: 1em;
    padding-top: 14px;
}

.widget.styling-categories nav ul {
    display: flex;
}

.widget.styling-categories nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #e9e9e9;
}

.widget.styling-categories nav ul li:nth-child(n+2) {
    margin-left: -1px;
}

.widget.styling-categories nav ul li.active span:before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -1px;
    right: -1px;
    height: 3px;
    background: #f47c00;
    z-index: 1;
}

.widget.styling-categories nav ul li.active span:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0px;
    right: 0px;
    height: 1px;
    border-top: 3px solid #ffffff;
}

.widget.styling-categories nav ul li:not(.active) {
    background: #e9e9e9;
    color: #d0d0d2;
}

.widget.styling-categories nav ul li:not(.active):hover {
    opacity: 0.8;
}

.widget.styling-categories .widgets {
    width: 100%;
    border: 1px solid #e9e9e9;
    overflow: hidden;
    padding-bottom: 14px;
}

.widget.styling-categories .widgets .tl_text_unit {
    width: 78%;
}

.widget.styling-categories .widgets .tl_text_trbl {
    width: 18%;
}
