// main: backend.scss

$col-orange: #f47c00;
$col-blue: #006494;
$col-blue-light: #e9f0f7;
$col-dark: #0F1C26;
$col-black: #000000;
$col-white: #ffffff;
$col-gray: #e9e9e9;
$col-gray-1: #d0d0d2;
$col-gray-2: #eaeaec;
$col-gray-3: #999999;
$col-green: #74b739;
$col-red: #e74c3c;
$col-yellow-light: #f6e58d;