// main: backend.scss
@import "colors";

.widget.facebook-authorization {

    margin-top: 15px;

    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;

    color: $col-blue;
    background: $col-blue-light;

    p { margin: 0; margin-right: 1em; }

    @media screen and (max-width: 450px) {
        flex-wrap: wrap;

        p { margin: 0; margin-bottom: 1em; }
    }
}

.widget #ctrl_cms_fb_pages_available legend { display: none; }

.widget #ctrl_cms_fb_pages_available,
.widget #ctrl_cms_facebook_pages {

    height: auto;

    > div.sortable {

        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        > span {

            flex-basis: 33%;

            @media screen and (max-width: 1100px) {
                flex-basis: 50%;
            }

            @media screen and (max-width: 600px) {
                flex-basis: 100%;
            }

            margin-top: 1em;

            &, label {

                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            label {
                cursor: pointer;
                &, .name { margin-left: 1em; }
            }

            button.drag-handle { display: none; }
        }
    }

    ~ .tl_help { margin-top: 1em; }

    &#ctrl_cms_facebook_pages > div.sortable {

        > span { flex-basis: 100%; }
    }
}