// main: backend.scss
@import "colors";

.license_message_wrapper > .cms_be_license_message {
    margin: 0 !important;
}

#main .cms_be_license_message {

    margin-top: -8px;
    margin-right: -10px;
    margin-bottom: -8px;

    .content {

        text-align: left;
        border: none !important;
        margin: 0;

        .header {

            background-color: $col-orange;
            position: relative;

            display: flex;
            justify-content: space-between;
            align-items: stretch;

            h2 {
                display: block;
                line-height: 35px;
                padding-left: 10px;
                color: $col-white;
            }
        }

        .inside {

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            padding: 15px;

            > * {
                margin: 15px;
            }

            .text {

                p:last-child { margin-bottom: 0; }

                a {
                    color: $col-orange;
                    text-decoration: underline;

                    &:hover {
                        color: $col-blue;
                    }
                }
            }

            > a {

                display: inline-block;
                white-space: nowrap;
                text-decoration: none;
                background: $col-green;
                color: $col-white;
                padding: 1em 2em;

                &:hover {
                    background: darken($col-green,10%);
                }
            }
        }
    }
}