// main: backend.scss
@import "colors";

fieldset .suggest.wizard input:focus ~ .suggest_wizard,
fieldset .suggest.wizard .suggest_wizard:hover {
    display: block;
}

fieldset > div > .suggest_wizard {

    position: absolute;
    display: none;
    width: calc(90% - 2px);
    background: $col-white;
    padding-top: 15px;

    ul {

        border: 1px solid $col-gray;

        li {
            padding: 6px 5px;
            cursor: pointer;

            + li {
                border-top: 2px solid $col-gray;
            }

            &:hover {
                background: $col-gray;
            }
        }
    }
}
