.ce_cms_overlay.hidden {
    display: none !important;
}

.ce_cms_overlay.modal_overlay {
    position: fixed;
    z-index: 10000;
    box-sizing: content-box;
    top: 0;
    left: 0;
    width: calc(100vw - 60px);
    height: 100vh;
    padding: 30px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 450px) {
    .ce_cms_overlay.modal_overlay {
        width: calc(100vw - 30px);
        padding: 15px;
    }
}

.ce_cms_overlay.modal_overlay > div {
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 14px;
    line-height: 1.33;
    position: relative;
    width: calc(100% - 60px);
    max-width: 800px;
    max-height: 75vh;
    overflow: auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: 10px solid #95a5a6;
    background: #ffffff;
}

.ce_cms_overlay.modal_overlay > div > .inside > *:not(:last-child) {
    margin-bottom: 15px;
}

.ce_cms_overlay.modal_overlay > div > .inside h1 {
    font-size: 2em;
}

.ce_cms_overlay.modal_overlay > div > .inside h2 {
    font-size: 1.5em;
}

.ce_cms_overlay.modal_overlay > div > .inside h3 {
    font-size: 1.25em;
}

.ce_cms_overlay.modal_overlay > div > .close {
    display: block;
    width: 2.14286em;
    height: 2.14286em;
    position: absolute;
    right: 1.07143em;
    top: 1.07143em;
    cursor: pointer;
}

.ce_cms_overlay.modal_overlay > div > .close > span {
    display: block;
    width: 100%;
    height: 0.28571em;
    background: #95a5a6;
    position: absolute;
    top: calc(50% - 0.5em);
}

.ce_cms_overlay.modal_overlay > div > .close > span:nth-child(1) {
    transform: rotate(45deg);
}

.ce_cms_overlay.modal_overlay > div > .close > span:nth-child(2) {
    transform: rotate(-45deg);
}

body.cms-element-preview .ce_cms_overlay.modal_overlay {
    position: relative;
    width: auto;
    height: auto;
}
