@import "backend/colors";

cms-cookie-bar,
cms-accept-tags {

    --main-bg-color: #{$col-white};
    --main-shadow-color: #{rgba($col-black,0.5)};
    --main-text-color: inherit;

    --btn-accept-text-color: #{$col-white};
    --btn-accept-bg-color: #{$lime-500};
    --btn-reject-text-color: var(--btn-accept-text-color);
    --btn-reject-bg-color: #{$trueGray-400};

    position: fixed;
    z-index: 1000;

    display: block;
    width: 100%;
    color: var(--main-text-color);

    > cms-container {

        display: block;
        max-width: 750px;
        max-height: 60vh;

        padding: 2em;
        overflow: auto;

        font-family: Arial, Helvetica, Sans-serif;
        font-size: 14px;
        line-height: 1.4;

        background: var(--main-bg-color);

        cms-container.disclaimer {

            > *:nth-child(1) {
                margin-top: 0;
            }
        }

        form {

            display: block;

            > * {
                display: block;
                width: 100%;
            }

            cms-buttons {

                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-items: center;

                width: calc(100% + 1em);
                margin-left: -0.5em;
                margin-right: -0.5em;

                cms-button {

                    position: relative;
                    margin: 0.5em;

                    cursor: pointer;
                    background: transparent;

                    > span {

                        position: relative;
                        z-index: 1;

                        display: block;
                        padding: 0.929em 1.5em;

                        text-align: center;
                        line-height: 1;
                        color: inherit;

                        &:before {

                            content: "";
                            display: block;
                            width: 100%;
                            height: 100%;

                            position: absolute;
                            z-index: -1;
                            top: 0;
                            left: 0;

                            transition: filter .2s;
                        }
                    }

                    &[value="reject"],
                    &[value="accept"]:nth-of-type(1) {

                        color: var(--btn-reject-text-color);

                        > span:before {
                            background: var(--btn-reject-bg-color);
                        }
                    }

                    &[value="accept"]:nth-last-of-type(1) {

                        color: var(--btn-accept-text-color);

                        > span:before {
                            background: var(--btn-accept-bg-color);
                        }
                    }

                    &:hover >span:before {
                        filter: brightness(85%);
                    }
                }

                @media (max-width: 430px) {

                    justify-content: center;

                    cms-button {
                        flex-basis: 100%;
                    }
                }
            }
        }
    }

    &[data-layout="dark"] {

        --main-bg-color: #{$coolGray-800};
        --main-shadow-color: #{rgba($col-black,0.5)};
        --main-text-color: #{$blueGray-100};

        --btn-accept-text-color: #{$blueGray-100};
        --btn-accept-bg-color: #{$green-700};
        --btn-reject-text-color: var(--btn-accept-text-color);
        --btn-reject-bg-color: #{$coolGray-700};
    }
}

cms-cookie-bar {

    position: sticky;
    bottom: 0;
    left: 0;
    background: var(--main-bg-color);
    box-shadow: 0px 0px 10px var(--main-shadow-color);

    > cms-container {
        margin: auto;
    }
}

cms-accept-tags {

    --main-bg-overlay-color: #{rgba($col-white,0.5)};

    --toggle-switch-bg-color: #{$col-white};
    --toggle-active-bg-color: var(--btn-accept-bg-color);
    --toggle-inactive-bg-color: #{$trueGray-300};

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    background: var(--main-bg-overlay-color);

    > cms-container {

        margin: 2em;
        box-shadow: 0px 0px 10px var(--main-shadow-color);

        form {

            cms-taglist {

                display: flex;
                flex-wrap: wrap;

                width: calc(100% + 2em);
                margin-left: -1em;
                margin-right: -1em;
                margin-top: 1em;

                cms-taggroup {

                    flex-basis: 0;
                    flex-grow: 1;
                    min-width: 160px;
                    padding: 1em;

                    cms-taggroup-header {

                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        font-weight: 700;
                        margin-bottom: 0.75em;

                        input {
                            display: none;
                        }

                        label {

                            display: inline-block;
                            flex-shrink: 0;
                            margin-left: 10px;

                            position: relative;
                            width: 44/14*1em;
                            height: 24/14*1em;

                            cursor: pointer;

                            border-radius: 1em;
                            background: var(--toggle-inactive-bg-color);

                            transition: all .3s;

                            &:after {

                                content: "";

                                position: absolute;
                                top: 50%;
                                left: 0;

                                display: block;
                                width: 20/14*1em;
                                height: 20/14*1em;

                                background: var(--toggle-switch-bg-color);
                                border-radius: 50%;

                                transform: translateY(-50%) translateX(2px);

                                transition: all .3s;
                            }
                        }

                        input:checked + label {

                            background: var(--toggle-active-bg-color);

                            &:after {
                                left: 100%;
                                transform: translateY(-50%) translateX(-100%) translateX(-2px);
                            }
                        }
                    }

                    cms-taggroup-description {
                        font-size: 12/14*1em;
                    }
                }
            }
        }
    }

    &[data-layout="dark"] {

        --main-bg-overlay-color: #{rgba($trueGray-800,0.5)};

        --toggle-active-bg-color: #{$green-700};
        --toggle-inactive-bg-color: #{$coolGray-700};


                /*
                --main-bg-overlay-color: #{rgba($col-dark,0.5)};
                --main-bg-color: #{$coolGray-800};
                --main-shadow-color: #{rgba($col-black,0.5)};
                --main-text-color: #{$blueGray-100};
                --main-border-color: #{$coolGray-800};
                --main-close-btn-color: #{$coolGray-400};
                --main-close-btn-color-hover: #{$coolGray-100};
                 */
    }
}