.mod_cms_accept_tags {
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 14px;
    line-height: 1.2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    color: #222;
}

.mod_cms_accept_tags .formbody .widget-submit {
    text-align: right;
}

.mod_cms_accept_tags form {
    display: block;
    margin: 30px;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background: #ffffff;
}

.mod_cms_accept_tags form > .formbody, .mod_cms_accept_tags form > .tags > div {
    padding: 15px;
}

.mod_cms_accept_tags form > .tags {
    display: flex;
    flex-wrap: wrap;
}

.mod_cms_accept_tags form > .tags > div {
    flex-basis: 0;
    flex-grow: 1;
}

.mod_cms_accept_tags form > .tags > div .head {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-top: 0;
}

.mod_cms_accept_tags form > .tags > div .head input {
    display: none;
}

.mod_cms_accept_tags form > .tags > div .head label {
    display: inline-block;
    position: relative;
    background: #95a5a6;
    width: 40px;
    height: 16px;
    border-radius: 13px;
    cursor: pointer;
}

.mod_cms_accept_tags form > .tags > div .head label:after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #798d8f;
    border-radius: 50%;
    transition: all .3s;
}

.mod_cms_accept_tags form > .tags > div .head input:checked + label {
    background: #ccd4d5;
    background: #7ee2a8;
}

.mod_cms_accept_tags form > .tags > div .head input:checked + label:after {
    left: 100%;
    transform: translateX(-100%);
}

.mod_cms_accept_tags form > .tags > div p {
    font-size: 12px;
}
